<div class="well span4">
    <!-- START RESET PASSWORD FORM -->
    <form ng-hide="text.success" id="reset-form" class="" method="post" novalidate name="resetForm" ng-submit="submit()">
        <h1>{{text.title}}</h1>
        <hr/>
        <!-- PASSWORD -->

        <label for="reset-password">{{text.password.title}}</label>
        <input id="reset-password"
               ng-model="password"
               type="password"
               name="password"
               class="pass"
               placeholder="{{text.password.placeholder}}"
               ng-minlength="6"
               ng-disabled="loading"
               ng-required="true"
                >

        <div class="alert alert-error"
             ng-show="resetForm.password.$invalid && resetForm.password.$dirty && resetForm.password.$error.minlength">
            <strong>{{text.password.invalidTitle}}</strong><br/>{{text.password.invalidLength}}
        </div>
        <div class="alert alert-error"
             ng-show="resetForm.password.$invalid && resetForm.password.$dirty && resetForm.password.$error.required">
            <strong>{{text.password.invalidTitle}}</strong><br/>{{text.password.invalidDescription}}
        </div>
        <div class="clear-fix"></div>
        <button id="reset-submit" type="submit" class="btn btn-primary" ng-disabled="loading || resetForm.$invalid">
            {{text.submit}}
        </button>
        <div class="clear-fix"></div>
        <div class="alert alert-error" ng-show="text.error">
            <strong>{{text.error.title}}</strong><br/><span ng-bind-html="text.error.description"></span>
        </div>
        <hr/>
        <a href="" ng-click="register()" ng-show="registerRedirect">{{text.registerLink}}</a>
        <a href="" ng-click="login()" ng-show="loginRedirect" >{{text.loginLink}}</a>
    </form>

    <div class="alert alert-success" ng-show="text.success">
        <strong>{{text.success.title}}</strong><br/><span ng-bind-html="text.success.description"></span><br/>
        <a href="" ng-click="login()" ng-show="loginRedirect" >{{text.loginLink}}</a>
    </div>
    <!-- END RESET PASSWORD FORM -->
</div>