<div class="well span4">
    <!-- START REGISTRATION FORM -->
    <form id="register-form" class="" method="post" novalidate name="registerForm" ng-submit="submit()">
        <h1>{{text.title}}</h1>
        <hr/>
        <!-- EMAIL -->
        <label for="register-email">{{text.email.title}}</label>
        <input id="register-email"
               ng-model="email"
               name="email"
               type="email"
               class="email"
               placeholder="{{text.email.placeholder}}"
               ng-disabled="loading"
               ng-required="true"
                />

        <div class="alert alert-error"
             ng-show="registerForm.email.$dirty && (registerForm.email.$invalid || registerForm.email.$error.required)">
            <strong>{{text.email.invalidTitle}}</strong><br/>{{text.email.invalidDescription}}
        </div>

        <!-- PASSWORD -->

        <label for="register-password">{{text.password.title}}</label>
        <input id="register-password"
               ng-model="password"
               type="password"
               name="password"
               class="pass"
               placeholder="{{text.password.placeholder}}"
               ng-minlength="6"
               ng-disabled="loading"
               ng-required="true"
                >
        <div class="alert alert-error" ng-show="registerForm.password.$invalid && registerForm.password.$dirty && registerForm.password.$error.minlength">
            <strong>{{text.password.invalidTitle}}</strong><br/>{{text.password.invalidLength}}
        </div>
        <div class="alert alert-error" ng-show="registerForm.password.$invalid && registerForm.password.$dirty && registerForm.password.$error.required">
            <strong>{{text.password.invalidTitle}}</strong><br/>{{text.password.invalidDescription}}
        </div>
        <div class="clear-fix"></div>
        <button id="register-submit" type="submit" class="btn btn-primary" ng-disabled="loading || registerForm.$invalid">
            {{text.submit}}
        </button>
        <div class="clear-fix"></div>
        <div class="alert alert-error" ng-show="text.error">
            <strong>{{text.error.title}}</strong><br/><span ng-bind-html="text.error.description"></span>
        </div>
        <hr/>
        <a href="" ng-click="forgot()" ng-show="forgotRedirect" id="register-forgot-password">{{text.forgotLink}}</a>
        <a href="" ng-click="login()" ng-show="loginRedirect" id="register-create-account">{{text.loginLink}}</a>
    </form>
    <!-- END REGISTRATION FORM -->
</div>