<div class="well span4">
    <!-- START FORGOT PASSWORD FORM -->
    <form ng-hide="text.success" id="forgot-form" class="" method="post" novalidate name="forgotForm" ng-submit="submit()">
        <h1>{{text.title}}</h1>
        <hr/>
        <!-- EMAIL -->
        <label for="forgot-email">{{text.email.title}}</label>
        <input id="forgot-email"
               ng-model="email"
               name="email"
               type="email"
               class="email"
               placeholder="{{text.email.placeholder}}"
               ng-disabled="loading"
               ng-required="true"
                />

        <div class="alert alert-error"
             ng-show="forgotForm.email.$dirty && (forgotForm.email.$invalid || forgotForm.email.$error.required)">
            <strong>{{text.email.invalidTitle}}</strong><br/>{{text.email.invalidDescription}}
        </div>
        <div class="clear-fix"></div>
        <button id="forgot-submit" type="submit" class="btn btn-primary" ng-disabled="loading || forgotForm.$invalid">
            {{text.submit}}
        </button>
        <div class="clear-fix"></div>
        <div class="alert alert-error" ng-show="text.error">
            <strong>{{text.error.title}}</strong><br/><span ng-bind-html="text.error.description"></span>
        </div>
        <hr/>
        <a href="" ng-click="register()" ng-show="registerRedirect">{{text.registerLink}}</a>
        <a href="" ng-click="login()" ng-show="loginRedirect" >{{text.loginLink}}</a>
    </form>

    <div class="alert alert-success" ng-show="text.success">
        <strong>{{text.success.title}}</strong><br/><span ng-bind-html="text.success.description"></span><br/>
        <a href="" ng-click="login()" ng-show="loginRedirect" >{{text.loginLink}}</a>
    </div>
    <!-- END FORGOT PASSWORD FORM -->
</div>